/* Import fontext */
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@font-face {
  font-family: tron;
  src: url('./../fonts/Tr2n.ttf');
}

body {
  background-color: black;
  background-size: cover;
}

#index-page {
  background-image: url('../img/menu1.gif');
  background-position: 50% 40%;
}

#song-page {
  background-image: url('../img/menu10.gif');
  background-position: 100% 0%;

}

#gameover-page {
  background-image: url('../img/gameOver.gif');
  background-position: 50% 40%;
}

#credits-page {
  background-image: url('../img/credits.gif');
  background-position: 50% 40%;
}

#video {
  display: block;
  margin: 0 auto;
  width: 75%;
}

#menu > div {
  margin-top: 75px;
  color: #2F717F;
  font-family: tron;
}

/* Option in menu */
#option {
  cursor: pointer;
  font-family: shadows into light;
  font-size: 50px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Add styles when user pass mouse on links */
#option:hover {
  color: white;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* Remove style colors after visit links */
a:link, a:visited {
  color: #2F717F;/*#45d9f4   original*/
  text-decoration: none;
}

a:hover {
  color: #45d9f4;/*  white original*/
  text-decoration: none;
}

#player_1_camera, #player_2_camera {
  border-style: double;
  border-width: 10px;
  border-color: #0174DF;
  position: absolute;
  bottom: 0;
}

#player_1_camera {
  left: 0;
}

#player_2_camera {
  right: 0;
}

#player_1_scoreboard, #player_2_scoreboard {
  font-family: tron;
  color: #0174DF;
  background: black;
  width: 150px;

  border-style: double;
  border-width: 10px;
  border-color: #0174DF;
  position: absolute;

  font-size: 150px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
}

#player_1_scoreboard {
  left: 0;
}

#player_2_scoreboard {
  right: 0;
}