/* Import fontext */
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@font-face {
    font-family: tron;
    src: url('./../fonts/tr2n.ttf');
  }

body {
  background-color: black;
  margin: 0;
  background-image: url('../img/menu1.gif');
  background-size: cover;
  background-position: 50% 40%;
}

canvas {
  height: 100%;
  width: 100%;
}

/* Apply all styles to the menu items */
#menu {
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: 2px;
  height: 0;
  left: 2px;
  margin: auto;
  position: relative;
  top: 5px;
  width: 0;
}

#menu > div {
  color: #45d9f4;
  font-family: tron;
  /*font-weight: 2000;*/
}

/* Side bars around the game menu */
#left, #right {
  background: #2AD5E5;
  border-top: 1px solid white;
  height: 100px;
  position: absolute;
}


#left {
  right: -100px;
  top: -180px;
  width: 600px;
  z-index: 6;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#right {
  left: -56px;
  top: -229px;
  width: 750px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 7;
}


/* Option in menu */
#play, #custom, #controls, #credits,#customSong {
  /*background: #006680;*/
  cursor: pointer;
  font-family: shadows into light;
  font-size: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#play {
  background-size: 1px 300%;
  bottom: 200px;
  right: 350px;
  width: 700px;
}

#custom {
  bottom: 225px;
  right: 290px;
  width: 600px;
}
#customSong {
  bottom: 245px;
  right: 250px;
  width: 500px;
}

#controls {
  bottom: 260px;
  right: 210px;
  width: 400px;
}

#credits {
  bottom: 260px;
  right: 150px;
  width: 300px;
}

#play p,
#custom p,
#controls p,
#credits p,
#customSong p, {
  position: relative;
}

#play p {
  top: 2px;
  right: 4px;
}

#custom p {
  top: 0;
  right: 9px;
}

#customSong p {
  top: 0;
  right: 9px;
}

#controls p {
  right: 4px;
  top: 0;
}

#credits p {
  top: 0;
}

/* Add styles when user pass mouse on links */
#play:hover, #custom:hover, #credits:hover, #controls:hover,#customSong:hover {
  /*background: #0174DF;*/
  color: white;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* Remove style colors after visit links */
a:link, a:visited {
  color: #45d9f4;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* Add styles to images on menu */
.images {
  display: inline-block;
  min-width: 49%;
  text-align: center;
}

#main_camera {
  z-index: -1;
}

#player_1_camera {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  border: 8px solid blue;
}

#player_2_camera {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  border: 8px solid blue;
}



  #Marcador_player1{
   font-family: tron;
   color: #18CAE6;
   background: #000000;
   width: 120px;

   position: absolute;
   bottom: 300px;
   left: 80px;
   z-index: 99;

   border-style: double;
   border-width: 10px;
   border-color: #0174DF;

   font-size: 150px;
   padding-left: 10px;
   padding-right: 10px;
}

#Marcador_player2{
   font-family: tron;
   color: #18CAE6;
   background: #000000;
   width: 120px;
   
   position: absolute;
   bottom: 300px;
   right: 80px;
   z-index: 99;

   border-style: double;
   border-width: 10px;
   border-color: #0174DF;

   font-size: 150px;
   padding-left: 10px;
   padding-right: 10px;
}

#Marcador_player3{
   /*background-image: url('../img/daft1.gif');*/

   font-family: tron;
   color: #18CAE6;
   background: #000000;
   width: 120px;
   
   position: absolute;
   bottom: 100px;
   right: 400px;
   z-index: 99;

   border-style: double;
   border-width: 10px;
   border-color: #0174DF;

   font-size: 150px;
   padding-left: 10px;
   padding-right: 10px;
}