/* Import fontext */
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  background-color: black;
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
}

/* Apply all styles to the menu items */
#menu {
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: 2px;
  height: 0;
  left: 2px;
  margin: auto;
  position: relative;
  top: 5px;
  width: 0;
}

#menu > div {
  color: #45d9f4;
}

/* Side bars around the game menu */
#left, #right {
  background: #2AD5E5;
  border-top: 1px solid white;
  height: 100px;
  position: absolute;
}

#left {
  right: -100px;
  top: -180px;
  width: 600px;
  z-index: 6;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#right {
  left: -56px;
  top: -229px;
  width: 750px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 7;
}

/* Option in menu */
#play, #custom, #controls, #credits {
  background: #006680;
  cursor: pointer;
  font-family: shadows into light;
  font-size: 30px;
  height: 50px;
  position: relative;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#play {
  background-size: 1px 300%;
  bottom: 330px;
  right: 300px;
  width: 700px;
}

#custom {
  bottom: 345px;
  right: 240px;
  width: 600px;
}

#controls {
  bottom: 360px;
  right: 200px;
  width: 500px;
}

#credits {
  bottom: 375px;
  right: 150px;
  width: 400px;
}

#play p,
#custom p,
#controls p,
#credits p {
  position: relative;
}

#play p {
  top: 2px;
  right: 4px;
}

#custom p {
  top: 0;
  right: 9px;
}

#controls p {
  right: 4px;
  top: 0;
}

#credits p {
  top: 0;
}

/* Add styles when user pass mouse on links */
#play:hover, #custom:hover, #credits:hover, #controls:hover {
  background: #7A0000;
  color: white;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* Remove style colors after visit links */
a:link, a:visited {
  color: #45d9f4;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* Add styles to images on menu */
.images {
  display: inline-block;
  min-width: 49%;
  text-align: center;
}
